extends layout
block title
    title= title
block content
    h1 Ajouter un foodtruck
    form(action="/foodtrucks/add", method="post")
        input(type="text" name="name" placeholder="entrer le nom")
        input(type="text" name="foodType" placeholder="entrer le type")
        input(type="submit" value="envoyer")