extends layout

block content
    h2 Editer votre foodtruck
    form(action="/foodtrucks/edit/"+ foodtruck._id, method="post")
        input(type="text" required name="name" value=foodtruck.name)
        input(type="text" required name="foodType" value=foodtruck.foodType)
        input(type="submit" value="envoyer")