extends layout
block title
    title= title
block content
    h1 All foodtrucks
    br
    a(href='/foodtrucks/add/').m-3 Ajouter
        img(src='https://img.icons8.com/nolan/64/000000/add.png' width='30px')
    .container-fluid
        .row
            each foodtruck in foodtrucks
                .col-12.col-md-4
                    .card(style='width: 18rem;').m-5
                        .card-body
                            h5.card-title Foodtruck
                            p.card-text Name: #{foodtruck.name}
                            p.card-text Type: #{foodtruck.foodType}
                            a(href='/foodtrucks/edit/' + foodtruck._id).m-1 Editer
                                img(src='https://img.icons8.com/nolan/64/000000/edit.png' width='30px')
                            br
                            a(href='/foodtrucks/remove/' + foodtruck._id).m-1 Supprimer
                                img(src="https://img.icons8.com/nolan/64/000000/delete-sign.png" width='30px')